@font-face {
  font-family: 'TitleFont';
  src: url('./fonts/Caveat/Caveat-VariableFont_wght.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'TextFont';
  src: url('./fonts/Cormorant_Garamond/CormorantGaramond-Light.ttf');
}

:root {
  --title-font: 'TitleFont', system-ui, -apple-system;
  --primary-font: 'TextFont', system-ui, -apple-system;
  --text-color: #554949;
  --background-color: #d6c38e;
  --primary-color: #85350a;
  --secondary-color: #3d573e;
  --accent-color: #c60606;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.headerdiv {
  width: 100vw;
  height: 100vh;
}
.back {
  z-index: 0;
  background-color: var(--background-color);
  background-image: url(./background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  z-index: 2;
  overflow: hidden;
  letter-spacing: 7px;
  text-transform: lowercase;
  width: 100vw;
  text-align: center;
  font-size: 110px;
  background-color: var(--background-color);
  color: var(--background-color);
  font-family: var(--title-font);
  text-shadow: 6px 6px 0px var(--primary-color),
                -6px -6px 0px var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 15px var(--text-color);
}